
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/nubbe/css/footer.css') }}">
{% endblock %}

    <!-- Footer -->
    <footer>
        <div class="follow">
            <a class="lien" href="" target="_blank"><img src="{{ asset('uploads/fiximg/icon-twitter2.png') }}" alt="Twitter"/><span>Twitter</span></a>
            <a class="lien" href="" target="_blank"><img src="{{ asset('uploads/fiximg/icon-tumblr.png') }}" alt="Tumblr"/><span>Tumblr</span></a>
            <a class="lien" href="" target="_blank"><img src="{{ asset('uploads/fiximg/icon-linkedin.png') }}" alt="Linkedin"/><span>Linkedin</span></a>
            <a class="lien" href="" target="_blank"><img src="{{ asset('uploads/fiximg/icon-viadeo.png') }}" alt="Viadeo"/><span>Viadeo</span></a>
        </div>
        <span class="copyright">© 2016 NUBBE S.L  Todos los derechos reservados<br>info@nubbe.es</span>
    </footer>
    <div class="scrollToTop"><a href="#"><img class="img-scroll" src="{{ asset('uploads/fiximg/fleche.jpg') }}"/></a></div>
