{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/nubbe/css/productlist.css') }}">
{% endblock %}

{% block body %}

    {% include 'NubbeBundle:Default:header.html.twig' %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1 col-md-1 sidebar">
                {% include 'leftmenu.html.twig' %}
            </div>
            <div class="col-sm-9 col-sm-offset-1 col-md-9 col-md-offset-1 imglist">
            {% for product in products %}
                <div class='col-sm-6 col-md-4 col-lg-3 hover01'>
                    <a href="{{ path('nubbe_productdetail', { 'product': product.id }) }}">
                        <figure><img src="{{ asset('uploads/fotos/' ~ product.foto) }}" height="320px"></figure>
                    </a>
                    <div class="product-info">
                        {% if product.isNew %}
                            <div class="price productNew" style="padding-bottom: 5px;"><span>一 new 一</span></div>
                        {% else %}
                            <br>
                        {% endif %}
                        <a class="" href="{{ path('nubbe_productdetail', { 'product': product.id }) }}">{{ product.productNameEs }}</a>
                        <div class="price _product-price"><span>{{ product.price }} EUR</span></div>
                    </div>
                </div>
            {% endfor %}
                <div class='col-sm-6 col-md-4 col-lg-3'>
                    <a href="">
                        <img src="{{ asset('uploads/fotos/2.jpg') }}" height="320px">
                    </a>
                    <div class="product-info">
                        <div class="price productNew" style="padding-bottom: 5px;"><span>一 new 一</span></div>
                        <a class="" href="">product.productNameEs</a>
                        <div class="price _product-price"><span>39,95 EUR</span></div>
                    </div>
                </div>
                <div class='col-sm-6 col-md-4 col-lg-3'>
                    <a href="">
                        <img src="{{ asset('uploads/fotos/3.jpg') }}" height="320px">
                    </a>
                    <div class="product-info">
                        <div class="price productNew" style="padding-bottom: 5px;"><span>一 new 一</span></div>
                        <a class="" href="">product.productNameEs</a>
                        <div class="price _product-price"><span>39,95 EUR</span></div>
                    </div>
                </div>
                <div class='col-sm-6 col-md-4 col-lg-3'>
                    <a href="">
                        <img src="{{ asset('uploads/fotos/4.jpg') }}" height="320px">
                    </a>
                    <div class="product-info">
                        <div class="price productNew" style="padding-bottom: 5px;"><span>一 new 一</span></div>
                        <a class="" href="">product.productNameEs</a>
                        <div class="price _product-price"><span>39,95 EUR</span></div>
                    </div>
                </div>
                <div class='col-sm-6 col-md-4 col-lg-3'>
                    <a href="">
                        <img src="{{ asset('uploads/fotos/5.jpg') }}" height="320px">
                    </a>
                    <div class="product-info">
                        <div class="price productNew" style="padding-bottom: 5px;"><span>一 new 一</span></div>
                        <a class="" href="">product.productNameEs</a>
                        <div class="price _product-price"><span>39,95 EUR</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'NubbeBundle:Default:footer.html.twig' %}
{% endblock %}